html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fffbfb;
    scroll-behavior: auto;
    /*background-size: cover;
    background-position: center;
    /*background-image: url(/Images/outdoors.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    */
}

.container {
    /*width: 100vw;*/
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;       
}

.header {
    /*height: 118px;
    text-align: center;
    background-color: salmon;
*/
    text-align: center;    
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

.nav {
    background-color: rgba(0, 0, 0, 0.60);
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}

.main {
    height: 400px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    /*background-color: rgba(0, 255, 128, 0.11);*/    
}

.main > div {
    background: #ddd;
    padding: 1em;
}

.main > div:nth-child(odd) {
    background: #eee;
}

/*.page {
    
    height: 118px;
    text-align: center;
    background-color: salmon;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid yellow;
}
*/

.split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.page {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px; 
    background-color: rgba(248, 3, 3, 0.1);    
    text-align: center;
}

