/*CSS Variables*/
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 104, 0.8);
    --name: #F7DC4F;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}



/* .font-0 {
    font-size: 114px;
    color: #ffff;
    align-content: center;
}

.font-4 {
    font-size: 48px;
    color: #f7dc4f;
} */

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    border: 1px solid;
}

/*Header*/
.header ul {
    display: grid;
    grid-gap: 20px;
    padding: 0px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.header a {
    background: var(--primary) ;
    display: block;
    text-decoration: none;
    padding: 0px;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.header a:hover {
    background:var(--dark);
    color: var(--light);
}



/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "intro top-box-a";
}

/* Top Container Left Grid */
.intro {
    grid-area: intro;
    min-height: 900px;
    background-color: #015761;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.intro h1 {
    font-size: 25px;
    padding: 1.4rem;
    margin-bottom: 0px;
    color: var(--name);
}

/* Left Grid Nav */
.main-nav ul {
    display: grid;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10rem;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    /* background: var(--primary) ; */
    display: block;
    text-decoration: none;
    padding: 0px 10px;
    text-align: center;
    /* color: var(--dark); */
    /* text-transform: uppercase; */
    font-size: 1rem;
    color: white;
    /* box-shadow: var(--shadow); */
}

.main-nav a:hover {
    background:var(--dark);
    color: var(--light);
}

/*Left Grid Name*/
#intro-name p {
    font-size: 2.5rem;    
    padding-left: 1.4rem;
    color: var(--name);
}

#intro-name h1 {
    font-size: 114px;
    font-family: roboto-bold,roboto,sans-serif;
    padding-top: 0rem;
    margin-top: 0rem;
    color: var(--light)
}


/* Top Container Right Grid */
.top-box-a {
    grid-area: top-box-a;
    background-image: url(/Images/outdoors.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
}

/* About Me */

.about-me {
    background-image: url(/Images/outdoors.jpg);
    min-height: 592px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    text-align: center;
}

.about-me h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light)
}

.about-me p {
    font-size: 1rem;
    padding: 0px 10rem;
    margin-top: 0;
    line-height: 1.8em;
    color: var(--light)
}

/* Boxes */
.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;ideos */

/* Videos */
.videos {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}



